.env
/vevn
/.idea
/__pycache__
/jwt/__pycache__
/services/__pycache__
/database/__pycache__
/models/__pycache__
/auth/__pycache__
note.txt
/lat_cha
/database/config/__pycache__
/database/methods/__pycache__
/auth/auth_func/__pycache__
/auth/auth_services/__pycache__
/Pictures